body {
  height: 100%;
  margin: 0;
  padding: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

#container {
  display: flex;
}

#scan {
  flex: 2;
}

#transcription {
  flex: 2;
}

#scan {
  display:flex;
}

#scan embed {
  flex: 1;
}

#comments {
  flex: 1;
  overflow-y: auto;
}

.comment {
  background-color: #bcedff;
  border-radius: 4px;
  padding: 8px;
  margin: 6px 0;
}

.comment-text {
  margin-bottom: 8px;
}

.comment-author {
  color: #78888c;
}

#comments textarea {
  width: 100%;
}

#navigation {
  height: 50px;
}
